In [22]:
import pandas as pd
import numpy as np

raw_dataset = pd.read_csv("../../dataset/dataset.csv") 
raw_dataset

,PubMed Link,Drug,Allele,Old Allele Name,Cohort ethnicity,p-value\r\nPat1 and ExpCtrl2,p-value\r\nPat1 and Pop3,Pat1 allele or carrier frequency,Pat1,Pat1Total,ExpCtrl2 allele or carrier frequency,ExpCtrl2,ExpCtrl2Total,Pop3 allele or carrier frequency,Pop3,Pop3Total,More Details,Allele distribution,Adverse drug reaction
0,16981842,carbamazepine,B*07:02,NaN,Caucasian,0.01,NaN,0 / 20,0,20,15 / 43,15.0,43.0,NaN,NaN,NaN,NaN,NaN,DIHS
1,16981842,carbamazepine,B*44:02,NaN,Caucasian,0.32,NaN,20-Feb,2,20,Jun-43,6.0,43.0,NaN,NaN,NaN,NaN,NaN,DIHS
2,16981842,carbamazepine,B*57:01,NaN,Caucasian,0.99,NaN,20-Mar,3,20,Jun-43,6.0,43.0,NaN,NaN,NaN,NaN,NaN,DIHS
3,16981842,carbamazepine,B*40:01,NaN,Caucasian,0.12,NaN,20-Jun,6,20,Feb-43,2.0,43.0,NaN,NaN,NaN,NaN,NaN,DIHS
4,16981842,carbamazepine,B*51:01,NaN,Caucasian,0.42,NaN,20-Apr,4,20,Apr-43,4.0,43.0,NaN,NaN,NaN,NaN,NaN,DIHS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,27666425,oxcarbazepine,DQB1*05:03,NaN,Korean,0.10,1.00,Mar-40,3,40,14 / 70,14.0,70.0,46 / 485,46.0,485.0,NaN,NaN,MPexanthema
2994,27666425,oxcarbazepine,B*15:02,NaN,Korean,1.00,1.00,0 / 40,0,40,Jan-70,1.0,70.0,2 / 485,2.0,485.0,NaN,NaN,MPexanthema
2995,27666425,oxcarbazepine,A*31:01,NaN,Korean,1.00,0.42,Jun-40,6,40,Dec-70,12.0,70.0,50 / 485,50.0,485.0,NaN,NaN,MPexanthema
2996,27666425,oxcarbazepine,B*15:11,NaN,Korean,1.00,1.00,Jan-40,1,40,Jan-70,1.0,70.0,19 / 485,19.0,485.0,NaN,NaN,MPexanthema
2997,30758654,trichloroethylene,B*13:01,NaN,Unknown,0.00,NaN,25 / 30,25,30,Oct-40,10.0,40.0,NaN,NaN,NaN,NaN,NaN,MPexanthema

# นับจำนวนก่อนกรองข้อมูล

In [23]:
to_count = raw_dataset[['Pat1','ExpCtrl2']].sum(axis=1)
to_count = pd.concat([raw_dataset[['Drug','Allele','Adverse drug reaction','Cohort ethnicity']],to_count],axis=1)

race_count = to_count.groupby('Cohort ethnicity').sum().sort_values(ascending=False,by=0)
drug_count = to_count.groupby('Drug').sum().sort_values(ascending=False,by=0)
adr_count = to_count.groupby('Adverse drug reaction').sum().sort_values(ascending=False,by=0)
allele_count = to_count.groupby('Allele').sum().sort_values(ascending=False,by=0)

In [24]:
race_count

                                 0
Cohort ethnicity
Han Chinese                11958.0
Japanese                   10769.0
Diverse                     6416.0
Thai                        2083.0
Caucasian                   2017.0
Korean                      1596.0
Caucasian (North West)      1368.0
Unknown                     1137.0
Caucasian (predominantly)    849.0
Indian                       532.0
Caucasian (Spanish)          428.0
European                     373.0
Vietnamese                   249.0
Black                        239.0
Malay                        117.0
Arab                           5.0

In [25]:
drug_count

                                                    0
Drug
carbamazepine                                 10143.0
NSAID and 'multi-ingredient cold medication'   6023.0
phenytoin                                      5062.0
allopurinol                                    2788.0
bucillamine                                    2603.0
lapatinib                                      2070.0
amoxicillin-clavulanate                        1890.0
antiepileptic drugs                            1370.0
lumiracoxib                                     954.0
sulfasalazine                                   930.0
lamotrigine                                     852.0
clozapine                                       790.0
aspirin                                         665.0
nevirapine                                      607.0
EGF receptor inhibitors                         546.0
co-trimoxazole                                  544.0
abacavir                                        279.0
oxcarbazepine                                   275.0
antibacterial drugs                             264.0
flucloxacillin                                  261.0
statins                                         174.0
tetanus antitoxin                               173.0
asparaginase                                    157.0
levetiracetam                                   130.0
sulfamethoxazole                                112.0
ticlopidine                                     112.0
methazolamide                                    75.0
trichloroethylene                                70.0
ximelagatran                                     57.0
dapsone                                          33.0
antituberculosis drugs                           28.0
paracetamol                                      22.0
vancomycin                                       19.0
phenobarbital                                    18.0
valproic acid                                    10.0
terbinafine                                       6.0
flupirtine                                        5.0
oxicam NSAIDs                                     4.0
minocycline                                       4.0
fenofibrate                                       3.0
erythromycin                                      2.0
sertraline                                        2.0
methyldopa                                        2.0
enalapril                                         2.0

In [26]:
adr_count

                            0
Adverse drug reaction
SJSI                   8569.0
TEN                    6723.0
DIHS                   5755.0
DILI                   5281.0
MPexanthema            3262.0
BIP                    2603.0
MPeruption             2286.0
SOSG                   1741.0
SJSII                  1567.0
Agranulocytosis         790.0
AIU                     505.0
SOC                     208.0
DISR                    208.0
AIA                     160.0
AGEP                    156.0
AntiHGMCRmyopathy        87.0
AMNM                     87.0
ALAT                     57.0
FDE                      50.0
Juandice                 41.0

In [27]:
allele_count

                 0
Allele
A*24:02     3442.0
B*15:02     2285.0
DRB1*07:01  2019.0
A*11:01     1853.0
B*40:01     1741.0
...            ...
B*35:34        0.0
A*92:19        0.0
A*24:03        0.0
B*51:06        0.0
DQB1*30:20     0.0

[318 rows x 1 columns]

# ตัด Drugs และ ADR ที่ไม่ใช้ออก ตามที่รีวิวมา

สิ่งที่จะตัดออก
- EGF -> เป็นโปรตีนหาตัวแทนไม่ได้
- Tetanus -> เป็นโปรตีนหาตัวแทนไม่ได้
- Antiepileptics -> ไม่รู้ว่ายากันชักตัวไหน หาตัวแทนไม่ได้ 
- Antibacterial -> หาตัวแทนไม่ได้ จึงตัดออก เพราะไม่รู้จะใส่โครงสร้างอะไร
- NSAID and 'multi-ingredient cold medication' -> หาตัวแทน NSAIDs ไม่ได้ จึงตัดออก เพราะไม่รู้จะใส่โครงสร้างอะไร NSAIDs ค่อนข้างหลากหลาย มีหลายกลุ่ม
- amoxicillin-clavulanate -> มียาสองตัว หาตัวแทนไม่ได้
- co-trimoxazole เพราะมี 2 structure

ADR ตัด
- DIHS
- DILI
- SOC
- DISR
- BIP
- SOSG
- AIA
- AntiHGMCmyopathy
- AMNM
- ALAT
- Jaundice

In [28]:
#ลบ ADR และยาที่บอกว่าจะตัดออก
ADR_toberemoved = ["DIHS","DILI","SOC","DISR","BIP","SOSG","AIA","AntiHGMCRmyopathy","AMNM","ALAT","Jaundice"]
Drug_toberemoved = ["EGF receptor inhibitors","tetanus antitoxin","antibacterial drugs","antiepileptic drugs","NSAID and 'multi-ingredient cold medication'","amoxicillin-clavulanate",'co-trimoxazole']

#เลือก columns ที่เกี่ยวข้อง
filtered_dataset = raw_dataset[['Drug','Allele','Cohort ethnicity','Pat1','ExpCtrl2','Adverse drug reaction']]
filtered_dataset = filtered_dataset.rename(columns={"Adverse drug reaction":"ADR"})
filtered_dataset = filtered_dataset.drop(filtered_dataset[filtered_dataset.ADR.isin(ADR_toberemoved)].index)
filtered_dataset = filtered_dataset.drop(filtered_dataset[filtered_dataset.Drug.isin(Drug_toberemoved)].index)
filtered_dataset

,Drug,Allele,Cohort ethnicity,Pat1,ExpCtrl2,ADR
530,carbamazepine,B*07:02,Caucasian,0,15.0,TEN
531,carbamazepine,A*31:01,Diverse,0,3.0,TEN
532,carbamazepine,B*15:02,Diverse,3,1.0,TEN
533,lamotrigine,B*15:02,Han Chinese,1,1.0,TEN
534,allopurinol,B*58:01,Han Chinese,13,7.0,TEN
...,...,...,...,...,...,...
2993,oxcarbazepine,DQB1*05:03,Korean,3,14.0,MPexanthema
2994,oxcarbazepine,B*15:02,Korean,0,1.0,MPexanthema
2995,oxcarbazepine,A*31:01,Korean,6,12.0,MPexanthema
2996,oxcarbazepine,B*15:11,Korean,1,1.0,MPexanthema
2997,trichloroethylene,B*13:01,Unknown,25,10.0,MPexanthema

# check จำนวนข้อมูลทั้งหมด หลังตัดยา ตัด ADR

In [29]:
to_count = filtered_dataset[['Pat1','ExpCtrl2']].sum(axis=1)
to_count = pd.concat([filtered_dataset[['Drug','Allele','ADR','Cohort ethnicity']],to_count],axis=1)

race_count = to_count.groupby('Cohort ethnicity').sum().sort_values(ascending=False,by=0)
drug_count = to_count.groupby('Drug').sum().sort_values(ascending=False,by=0)
adr_count = to_count.groupby('ADR').sum().sort_values(ascending=False,by=0)
allele_count = to_count.groupby('Allele').sum().sort_values(ascending=False,by=0)

In [30]:
race_count

                                0
Cohort ethnicity
Han Chinese                8456.0
Diverse                    1944.0
Japanese                   1928.0
Thai                       1665.0
Caucasian                  1124.0
Korean                     1088.0
Indian                      390.0
European                    168.0
Black                       167.0
Vietnamese                  166.0
Malay                       104.0
Unknown                      70.0
Caucasian (predominantly)    46.0

In [31]:
drug_count

                        0
Drug
carbamazepine      8016.0
phenytoin          4193.0
allopurinol        1969.0
lamotrigine         795.0
clozapine           790.0
aspirin             505.0
nevirapine          339.0
oxcarbazepine       275.0
levetiracetam       130.0
sulfamethoxazole    112.0
methazolamide        75.0
trichloroethylene    70.0
paracetamol          22.0
phenobarbital        11.0
valproic acid        10.0
oxicam NSAIDs         4.0

In [32]:
adr_count

                      0
ADR
SJSI             5655.0
TEN              4692.0
MPexanthema      2435.0
MPeruption       1785.0
SJSII            1404.0
Agranulocytosis   790.0
AIU               505.0
FDE                50.0

In [33]:
allele_count

              0
Allele
B*15:02  1783.0
B*40:01  1310.0
A*24:02  1155.0
A*11:01  1080.0
B*58:01  1020.0
...         ...
B*37:10     1.0
C*15:05     1.0
B*27:09     1.0
B*15:42     1.0
A*80:01     1.0

[203 rows x 1 columns]

# ตัด AIU, FDE, Agranulocytosis, FDE ออก (ข้อมูลน้อยเกินไป) และรวบ SJSI + SJSII

In [34]:
filtered_dataset = filtered_dataset[filtered_dataset['ADR'] != 'AIU']
filtered_dataset = filtered_dataset[filtered_dataset['ADR'] != 'Agranulocytosis']
filtered_dataset = filtered_dataset[filtered_dataset['ADR'] != 'FDE']
filtered_dataset['ADR'] = filtered_dataset['ADR'].replace('SJSI','SJS')
filtered_dataset['ADR'] = filtered_dataset['ADR'].replace('SJSII','SJS')

# จัดเชื้อชาติ

- Caucasian
    - Caucasian (predominantly) 
    - Caucasian (Spanish)  **รอ CF**
    - Caucasian (North weset)  **รอ CF**
    - European
    - Indian
- Black **รอ CF**
- Arab **รอ CF**
- Mongol
    - Han Chinese
    - Japanese
    - Korean
    - Malay
    - Thai
    - Vietnamese
- Diverse
    - Unknown

In [35]:
filtered_dataset['Cohort ethnicity'].value_counts()

Han Chinese                  482
Japanese                     127
Thai                         111
Caucasian                    101
Vietnamese                    54
Korean                        47
Diverse                       46
Indian                        44
European                      30
Malay                         12
Caucasian (predominantly)     12
Black                          3
Unknown                        2
Name: Cohort ethnicity, dtype: int64

In [36]:

filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Caucasian (predominantly)','Caucasian')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Indian','Caucasian')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('European','Caucasian')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Caucasian (North West)','Caucasian')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Caucasian (Spanish)','Caucasian')

#filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Black','..')

filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Arab','Caucasian')

filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Han Chinese','Mongol')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Japanese','Mongol')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Korean','Mongol')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Malay','Mongol')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Thai','Mongol')
filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Vietnamese','Mongol')

filtered_dataset['Cohort ethnicity'] = filtered_dataset['Cohort ethnicity'].replace('Unknown','Diverse')

# ดูจำนวนครั้งสุดท้ายก่อนเซฟ

In [37]:
to_count = filtered_dataset[['Pat1','ExpCtrl2']].sum(axis=1)
to_count = pd.concat([filtered_dataset[['Drug','Allele','ADR','Cohort ethnicity']],to_count],axis=1)

race_count = to_count.groupby('Cohort ethnicity').sum().sort_values(ascending=False,by=0)
drug_count = to_count.groupby('Drug').sum().sort_values(ascending=False,by=0)
adr_count = to_count.groupby('ADR').sum().sort_values(ascending=False,by=0)
allele_count = to_count.groupby('Allele').sum().sort_values(ascending=False,by=0)

In [38]:
race_count

                        0
Cohort ethnicity
Mongol            12902.0
Diverse            2014.0
Caucasian           888.0
Black               167.0

In [39]:
drug_count

                        0
Drug
carbamazepine      8016.0
phenytoin          4143.0
allopurinol        1969.0
lamotrigine         795.0
nevirapine          339.0
oxcarbazepine       275.0
levetiracetam       130.0
sulfamethoxazole    112.0
methazolamide        75.0
trichloroethylene    70.0
paracetamol          22.0
phenobarbital        11.0
valproic acid        10.0
oxicam NSAIDs         4.0

In [40]:
adr_count

                  0
ADR
SJS          7059.0
TEN          4692.0
MPexanthema  2435.0
MPeruption   1785.0

In [41]:
race_count

                        0
Cohort ethnicity
Mongol            12902.0
Diverse            2014.0
Caucasian           888.0
Black               167.0

## เซฟข้อมุล // หลังจากจุดนี้นะนำข้อมูล Alleles / Drugs ไปใช้ต่อในการหา Descriptors ที่เหมาะสม
- code\1 - Drugs Descriptors\SMILES to Descriptor.ipynb -> หา Descriptors ของ Drugs (ดึงข้อมูลในนี้ไปใช้ intersect แค่ยาที่มี)
- code\2 - HLA Proteins\0 CreateNewFasta and DropUniqueHLA.ipynb -> หา Descriptors ของ HLA (ดึงข้อมูลในนี้ไปใช้ intersect แค่ยีนที่มี)
- code\3 - Cleaning & Transforming Data\0 C&T_AllelesSeq.ipynb -> ทำ onehotencoding ของ Alleles (ดึงข้อมูลในนี้ไปใช้ intersect แค่ยีนที่มี)

In [42]:
filtered_dataset.to_csv('1 Dataset_Filtered.csv')